<h1><%= t("admin.event_list") %></h1>

<p class="text-right">
<%= link_to "New Event", new_admin_event_path, :class => "btn btn-primary" %>
</p>

<%= form_tag bulk_update_admin_events_path, :class => "form-inline" do %>
  <table class="table">
    <thead>
      <tr>
        <th><%= check_box_tag "全选", "1", false, :id => "toggle_all" %></th>
        <th>Event Name</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody class="sortable">
      <% @events.each do |event| %>
      <tr data-reorder-url="<%= reorder_admin_event_path(event) %>">
        <td><%= check_box_tag "ids[]", event.id %></td>
        <td>
          <span class="sortable-icon">☰</span>
          <%= link_to event.name, admin_event_path(event) %>
        </td>
        <td><%= t(event.status, :scope => "event.status") %></td>
        <td>
          <%= link_to "置顶", reorder_admin_event_path(event, :position => :first), :method => :post, :class => "btn btn-default" %>
          <%= link_to "置底", reorder_admin_event_path(event, :position => :last), :method => :post, :class => "btn btn-default" %>

          <%=  link_to "Tickets", admin_event_tickets_path(event), :class => "btn btn-default" %>
          <%= link_to "Edit", edit_admin_event_path(event), :class => "btn btn-default" %>
          <%= link_to "Delete", admin_event_path(event), :method => "delete", :data => { :confirm => "Are you sure?" }, :class => "btn btn-danger" %>
        </tr>
        <% end %>
    </tbody>
  </table>

  <%= select_tag :event_status, options_for_select(Event::STATUS.map{ |s| [t(s, :scope => "event.status"), s] }), :class => "form-control" %>

  <%= submit_tag t(:bulk_update), :class => "btn btn-primary", :data => { :disable_with => "批次编辑" }%>
  <%= submit_tag t(:bulk_delete), :class => "btn btn-danger", :data => { :disable_with => "批次删除" } %>
<% end %>

<script>
// ============全选==========
  $("#toggle_all").click(function(){
    if ( $(this).prop("checked") ) {
      $("input[ name='ids[]' ]").prop("checked", true);
    } else {
      $("input[name='ids[]']").prop("checked", false);
    }
  })

// ================排序===================
  $(".sortable").sortable({
    axis: "y",
    items: "tr",
    cursor: "move",
    handle: ".sortable-icon",
    stop: function(e, ui){
      ui.item.children("td").effect("highlight", {}, 1000)
    },
    update: function(e, ui) {
      reorder_url = ui.item.data("reorder-url")
      position = ui.item.index()
      $.ajax({
        type: "POST",
        url: reorder_url,
        datatype: "json",
        data: { position: position }
      })
    }
  });
</script>
