<h1><%= @category.name %> - Events</h1>

<table class="table table-bordered">
  <tr>
    <th>#</th>
    <th>Name</th>
    <th>Status</th>
    <th>Created_at</th>
  </tr>
  <% @events.each do |event| %>
  <tr>
    <td><%= event.friendly_id %></td>
    <td><%= link_to( event.name, event_path(event) ) %></td>
    <td><%= event.status %></td>
    <td><%= event.created_at.to_s %></td>
  </tr>
  <% end %>
</table>
